{% extends '::base-mail.html.twig' %}

{% block subject %}
    {{ subject }}
{% endblock %}


{% block content %}

    <p>Bonjour</p>

    <p>
       Nous avons bien reçu votre message, nous y répondrons aussi rapidement que possible.
    </p>




{% endblock content %}
