{#Column Right#}
<div class="col-sm-4">
    <header>
        <h4 class="ff-bebas-bold f24 mt0">
            {{ 'front_layout_area_right_menu_contact_title'|t }}
        </h4>
    </header>

    <section class="wrap-panel result-widget bg-white">
        <div class="wrap-body plr0">
            <p class="m10">
                {{ 'front_layout_area_right_menu_contact_description'|t({'%link%':path('jrk_portfolio_front_contact')}) }}
            </p>
        </div>
    </section>

</div>